*{
    padding: 0;
    margin: 0;
}

body{
    background-color: antiquewhite;

}
.heading{
    font-size:30px;
    margin-left: 30px ;
}

.contact{
    text-decoration: underline;
    position:absolute;

    top: 5px;
    right: 10px;

}

.image{
    background-image: url(./pb.png);
    height: 300px;
    width: 100vw;
    border-radius: 10px;
    position: absolute;
    top: 130px;
}
hr{
    color: red;
    border-width: 5px;
    width: 100%;
    padding: 0;
        
}
.hr1{
    position:relative;
    top: 82px;
}
.hr2{
    position:relative;
    top: 390px;
}

ul{
    font-size:larger;
    display: flex;
    flex-direction:row;
    text-shadow: 1px 2px 3px indigo;
    position: absolute;
    top: 500px;
}
li{
    margin: 60px;
}